In [1]:
import pandas as pd
df = pd.read_csv("E:\Skripsi\Fauzan Kamil\Churn\Data Hitung Manual\Data-20-persen.csv")
df.tail()

,recent_days,freq_diff,frequency,monetary,purchase_year,ongkir,Customer_segment,RFM_Score,monthly_spend,mean_pembelian,Churn
10520,152,0.878613,173,23254949,2019,377500,4,4.89,1442669.105,5.965318,0
10521,560,280.000000,2,2242154,2020,25000,0,1.33,162868.330,206.500000,1
10522,411,411.000000,1,281719,2021,10000,0,0.69,281719.000,0.000000,1
10523,203,40.600000,5,5382839,2021,40000,1,2.50,708268.290,45.600000,1
10524,155,7.380952,21,7592195,2021,195000,2,4.00,600965.300,18.047619,0

In [2]:
# Replace 1 = Churn 0 = Not Churn
df['Churn'] = df['Churn'].replace(1, 'Churn')
df['Churn'] = df['Churn'].replace(0, 'Not Churn')
df.tail()

,recent_days,freq_diff,frequency,monetary,purchase_year,ongkir,Customer_segment,RFM_Score,monthly_spend,mean_pembelian,Churn
10520,152,0.878613,173,23254949,2019,377500,4,4.89,1442669.105,5.965318,Not Churn
10521,560,280.000000,2,2242154,2020,25000,0,1.33,162868.330,206.500000,Churn
10522,411,411.000000,1,281719,2021,10000,0,0.69,281719.000,0.000000,Churn
10523,203,40.600000,5,5382839,2021,40000,1,2.50,708268.290,45.600000,Churn
10524,155,7.380952,21,7592195,2021,195000,2,4.00,600965.300,18.047619,Not Churn

In [3]:
# Simpan ke csv untuk dihitung manual
df.to_csv('E:\Skripsi\Fauzan Kamil\Churn\Data Hitung Manual\Data-20-persen.csv', index=False)

In [2]:
password = input("Masukan Pasword")
while password != "Python":
    print("Try Again")
    password = input()

print("Welcome")

Try Again
Try Again
Try Again
Welcome

In [3]:
if 4+5 == 10:
    print("True")
else:
    print("False")  
print("True")

False
True